<div class="container">
  <div class="search">
    <input type="text" placeholder="Search settings">
    <div>15 Setting Found</div>
  </div>
  <div class="tab-menu">
    <div [class.active]="currentTab == 'user' " (click)="selectTab('user')">
      User Settings
    </div>
    <div [class.active]="currentTab == 'workspace'" (click)="selectTab('workspace')">
      Workspace Settings
    </div>
  </div>
  <div class="setting-panel" *ngIf="currentTab == 'user'">
    <div class="settingTreeView">
      <span>Commonly Used</span>
      <tree-root [nodes]="userMenuNodes" [options]="options"> </tree-root>
    </div>
    <div>
      <span class="settingConfig">
        <h5>Commonly Used</h5>
        <app-config [groupName]="'Files:'" [remark]="'Auto Save'" [details]="'Controls auto save of dirty.Read more about autosave here.'" [value]='10'></app-config>
        <app-config [groupName]="'Editor:'" [remark]="'Font-Size'" [details]="'Lorem Ipsum is simply dummy text of the printing and typesetting industry.'" [value]='10'></app-config>
        <app-config [groupName]="'Editor:'" [remark]="'Font-Family'" [details]="'Lorem Ipsum is simply dummy text of the printing and typesetting industry.'" [value]='10'></app-config>
      </span>
    </div>
  </div>

  <div class="setting-panel" *ngIf="currentTab == 'workspace'">
    <div class="settingTreeView">
      <span>Commonly Used</span>
      <tree-root [nodes]="userMenuNodes" [options]="options"></tree-root>
    </div>
    <div>
      <span class="settingConfig">
        <h5>Commonly Used</h5>
        <app-config [groupName]="'Files:'" [remark]="'Auto Save'" [details]="'Controls auto save of dirty.Read more about autosave here.'" [value]='20'></app-config>
        <app-config [groupName]="'Editor:'" [remark]="'Font-size'" [details]="'Lorem Ipsum is simply dummy text of the printing and typesetting industry.'" [value]='30'></app-config>
        <app-config [groupName]="'Editor:'" [remark]="'Font-Family'" [details]="'Lorem Ipsum is simply dummy text of the printing and typesetting industry.'" [value]='10'></app-config>
      </span>

    </div>
  </div>
